#title{
    color: white;
}
html{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: auto;
}
body{
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: #ba2df5;
}
#backgroundRegister{
    min-height: 100vh;
    background: url("https://i.postimg.cc/9F9Nr9f7/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    height: 80px;
    display: flex;
    width: 100%;
    background-color: hsl(39, 100%, 50%,0);
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    border: 0;

}
header img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 40px;
}
header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title{
    font-weight: 400;
    font-size: 25px;
    line-height: 80px;
    margin: 0;
}

section{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    min-height: auto;
    flex-wrap: wrap;
}
#inscriptionForm{
    background-color: white;
    color: #ba2df5;
    width: 500px;
    padding:20px;
    font-family: "Poppins",sans-serif;
    border-radius: 20px;
    margin: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: white;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;

}
.formTitle{
    font-size: 26px;
    padding-left: 20px;
    padding-top: 10px;
}

form{
    margin: 20px;
    margin-top: 20px;
}

form div{
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputInscription{
    border-radius: 5px;
    border-style: solid;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    border: 0;
    background-color: #f8e9ff;
}
.errorInput{
    color: rgb(248, 179, 179);
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
#inscriptionForm button{
    background-color: #ba2df5;
    border: 0;
    color: white;
}
#inscriptionForm button:hover{
    background-color: #70059e;
    transition: 100ms;
}
#inscriptionForm option{
    background-color: white;
    color: #72129b;
}

#conditions{
    width: auto;
}

#connectForm{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 300px;
    padding:20px;
    font-family: "Poppins",sans-serif;
    border-radius: 20px;
    margin: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: white;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

#connectForm button{
    color: #ba2df5;
}

#connectForm button:hover{
    background-color: #d899f5;
    color: white;
    transition: 100ms;
}
@media screen and (max-width: 1084px) {
    
    header img{
         width: 60px;
         height: 60px;
         margin-left: 20px;
    }
    #title{
        font-size: 22px;
    }
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
  }