html{
    font-family: "Poppins", sans-serif;
    width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
}
header{
    height: 80px;
    display: flex;
    width: 100%;
    background-color: hsl(39, 100%, 50%,0);
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    border: 0;

}
#backgroundHome{
    background-color: #c446f8;
    height: 100vh;
    background: url("https://i.postimg.cc/9F9Nr9f7/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#newPost {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    width: -moz-available;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.post{
    background-color: white;
    max-width: 380px;
    padding: 30px;
    position: relative;
    height: auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    //align-self: stretch;
    width: -webkit-fill-available;
    border: 2px;
    border-style: solid;
    border-color: #f3d6ff;
    margin: 20px;
    flex-direction: column;
    border-radius: 20px;
    
}

.user h2 {
    font-size: 15px;
    margin: 0;
    color: #37064d;
    font-weight: 600;
}

.postHeader {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.user {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post p {
    font-size: 18px;
    color: #ba2df5;
    align-self: flex-start;
    margin: 5px 0 0;
}


.post textarea {
    font-size: 18px;
    color: #ba2df5;
    align-self: flex-start;
    margin: 5px 0 0;
    border: 2px;
    margin-bottom: 20px;
    resize: none;
    width: -moz-available;
    width: -webkit-fill-available;
    border-style: solid;
    border-color: #f3d6ff;
    border-radius: 5px;
}

.profilPicture {
    clip-path: circle();
    width: 60px;
}

.postDots {
    width: 20px;
    bottom: 44px;
    left: 110px;
    margin-bottom: 45px;
    margin-top: -45px;
    align-self: flex-end;
}

.postDots:hover {
    cursor: pointer;
}
.imgPost{
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 10px;
}
.datePost {
    align-self: flex-end;
    padding: 15px;
    font-size: 12px;
    padding-right: 5px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
}

.postFooter {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-size: 12px;
    align-items: center;
    align-self: flex-end;
}
.user p {
    font-size: 15px;
}

header img{
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-bottom: 10px;
}
header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title{
    font-weight: 400;
    font-size: 25px;
    line-height: 80px;
    margin: 0;
    
}


#home{
    display: flex;
    color: white;
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    align-items: center;
    height:90vh ;
    padding-left:10vw;
    padding-right:10vw;
    flex-wrap: wrap;
    justify-content: start;
} 
#home h2{
    font-weight: 200;
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
	animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
}
#typo{
    width: 230px;
    margin-top: -30px;
    margin-left: 290px;
    -webkit-animation: slide-top-short 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: slide-top-short 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
#buttonHome{
    -webkit-animation: slide-top-short 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	animation: slide-top-short 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
#buttonHeader{
    font-size: 15px;
    width: 130px;
    float: right;
    margin: 0;
    margin-right: 40px;
}
.buttonLogin{
    background-color: white;
    text-decoration: none;
    border-color: white;
    margin-bottom: 20px;
    font-size: 20px;
    height: 40px;
    color: #ba2df5;
    border: 0;
    border-radius: 10px;
;
}

.buttonLogin:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #f4f4f4;
}
.buttonRegister{
    background-color: hsl(39, 100%, 50%,0);
    border: 2px;
    border-color: white;
    text-decoration: none;
    border-color: white;
    font-size: 20px;
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border-style: solid;
}
.buttonRegister:hover{
    background-color: white;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
    color:  #ba2df5;
}
button:hover{
    cursor: hand;
}

#slogan{
    width: auto;
}
.colum{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.postEmoji{
    width: 22px;
}
.emojiCount{
    width:10px;
}
.postEmoji:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 100ms;
}
#sectionPost{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#sectionPostTitle{
    align-self: flex-start;
    font-family: "Poppins",sans-serif;
    font-size: 27px;
    padding:50px;
    padding-top: 200px;
    color:#37064d;
    font-weight: 600;
}

#sectionPostTitle::after{
    content: " Vanéstarre";
    color:#ba2df5;
    font-weight: 600;
}


footer {
    border: 0;
    border-top: 2px;
    border-style: solid;
    border-color: #f3d6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer div {
    display: flex;
    align-items: center;
}

#leftArrow {
    border-radius: 5px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px;
    width: 40px;
    border-style: solid;
    border-color: #f3d6ff;
}

#leftArrow img {
    transform: rotate(180deg);
    width: 20px;
}

#righArrow {
    border-radius: 5px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px;
    width: 40px;
    border-style: solid;
    border-color: #f3d6ff;
}

#righArrow img {
    width: 20px;
}
#righArrow a{
    display: flex;
}

#leftArrow a{
    display: flex;
}
#page {
    font-family: 'Poppins';
    color: #ba2df5;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1084px) {
    
   #home    {
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
   }
   .colum{
       padding: 0;
   }
   #typo{
       font-size: 10px;
       margin-left: 0px;
       width: 200px;
   }
   #slogan h2{
       width: 250px;
   }
   header img{
        width: 60px;
        height: 60px;
        margin-left: 20px;
   }
   #title{
       font-size: 22px;
   }
   #buttonHeader{
       font-size: 13px;
       width: 110px;
   }
   #buttonHeader{
       margin-right: 20px;
   }
    .logoHeader {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }
    #title {
        font-size: 22px;
    }

}


@media screen and (max-width: 680px) {
    html {
        width: fit-content;
        width: -moz-fit-content;
    }
    .logoHeader {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }
    #newPost {
        padding-left: 0;
        padding-right: 0;
    }
    #parameterIcon {
        visibility: hidden;
        display: none;
    }
    #notificationIcon {
        visibility: hidden;
        display: none;
    }
    #logoutIcon {
        width: 28px;
    }
    .userHeader {
        visibility: hidden;
        display: none;
    }
    #title {
        font-size: 22px;
        display: none;
    }
}

  
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
  }
@-webkit-keyframes slide-top-short {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
  }
@keyframes slide-top-short {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
  }
